{% extends "base.html" %}

{% block content-title %}
	{{ view.get_title }}
{% endblock %}

{% block content %}
	{% link_static_css 'css/accounts/create.css' %}
	
	{% if view.is_success %}
		<div class="text-center">
			<h2>Account '{{ username }}' created!</h2>
			<h4>We've sent a verification link to your email:</h4>
			<h5><strong>{{ email }}</strong></h5>
			<h4>Check your email box and use that link to verify your email.</h4>
			<h4>You can login now.</h4>
		</div>
	{% else %}
		{% include 'form_errors.html' %}

		<form action="{% url 'accounts:create' %}" method="post">
			{% csrf_token %}

			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{% if not forloop.first %}<hr/>{% endif %}
				<div class="form-group">
					{{ field | bootstrap_label }}
					{{ field | bootstrap_input }}
					<div class="help-block">
						<table>
							<tr>
								<td><span class="glyphicon glyphicon-info-sign"></span></td>
								<td>{{ field.help_text | safe }}</td>
							</tr>
						</table>
					</div>
					{% include 'field_errors.html' %}
				</div>
			{% endfor %}

			<input class="btn btn-success" type="submit" value="Create account">
		</form>
	{% endif %}
{% endblock %}
