{% extends "base.html" %}

{% load i18n %}

{% block content-title %}
	Profile
{% endblock %}

{% block content %}
	{% link_static_css 'css/accounts/profile.css' %}
	
	<script type="text/javascript">
	<!--
		$(document).ready(function() {
			$('.characters-tr').click(function(){
				$(this).next().fadeToggle();
			});
			$('.characters-extra > td > div').each(function() {
				if (/^\s*$/.test($(this).text())) {
					$(this).text('{% trans "No additional info about this player" %}');
				}
			});
		});
	//-->
	</script>
	
	<table class="profile-table">
		<tr class="profile-tr">
			<td id="profile-td-1">
				<div class="profile-td-container">
					<h1 class="text-center">{% trans "Information" %}</h1>

					<p><strong>{% trans "Username" %}:</strong> {{ account.name }}</p>

					{% if account.get_full_name %}
						<p><strong>{% trans "Full name" %}:</strong> {{ account.get_full_name }}</p>
					{% endif %}

					{% if account.email %}
						<p>
							<strong>{% trans "Email" %}:</strong>
							<span title="{{ account.email }}">{{ account.email }}</span>
						</p>
						<p>
						{% if not account.email_activated %}
							{% emoji 'exclamation' %}
							<a id="email-not-activated" href="{% url 'accounts:email-activation' %}">
								{% trans "Email is not activated" %}
							</a>
							{% emoji 'exclamation' %}
						{% else %}
							<span id="email-activated">
								{% trans "Email is activated." %}
							</span>
						{% endif %}
						</p>
					{% else %}
						<p id="email-not-configured">
							{% trans "Email is not configured." %}
						</p>
					{% endif %}
				</div>
			</td>
			<td id="profile-td-2">
				<div class="text-center">
					<h1>{% trans "List of characters" %}</h1>
					
					<table class="table table-hover characters-table">
						<tr>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Vocation" %}</th>
							<th>{% trans "Level" %}</th>
							<th></th>
						</tr>
						{% for player in players %}
							<tr class="characters-tr" id="character-{{ forloop.counter }}">
								<td>{{ player.name }}</td>
								<td>{{ player.get_vocation_display }}</td>
								<td>{{ player.level }}</td>
								<td><a 	id="delete-character-link"
										class="glyphicon glyphicon-remove" 
										href="{% url 'players:delete' player.pk %}" 
										title="Delete character"
										onclick="event.stopPropagation();"></a></td>
							</tr>
							<tr class="characters-extra">
								<td class="characters-extra-td" colspan="10">
									<div>
										{% if player.get_guild %}
											<p class="character-add-info">
												<strong>{% trans "Guild" %}:</strong>
												{{ player.get_guild.name }}
												({{ player.get_guild_rank }})
											</p>
										{% endif %}
										{% if player.house_owner %}
											<p class="character-add-info">
												<strong>{% trans "House" %}:</strong>
												{{ player.house_owner.name }}
											</p>
										{% endif %}
									</div>
								</td>
							</tr>
						{% empty %}
							<tr><td colspan="10">&nbsp;</td></tr>
						{% endfor %}
					</table>
					
					<p>{% trans "Characters count" %}: <strong>{{ players_count }} / {{ players_max }}</strong></p>
				
					<a 	class="btn btn-success{% if not can_add_player %} disabled {% endif %}" 
						href="{% url 'players:create' %}">
						{% trans "Create character" %}
					</a>
				</div>
			</td>
		</tr>
	</table>
	
	<hr>

	<a href="{% url 'accounts:password' %}">
		<input type="button" class="btn btn-primary" value="{% trans "Change password" %}" />
	</a>

	<a href="{% url 'guilds:create' %}">
		<input type="button" class="btn btn-danger" value="{% trans "Create guild" %}" />
	</a>
{% endblock %}
