/* Variables */

:root {
	--layout-border-color: black;
	--layout-border-radius: 20px;
	--layout-glow-color: brown;
}

/* Html, body, headers */

html {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;

	background: url("/static/images/background.jpg") no-repeat center center fixed;
	background-color: white;
	background-size: cover;

    font-family: Verdana, sans-serif;
}

h1 { font-size: 20px; font-weight: bold; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

hr {
	height: 1px;
	background-color: darkgray;
}

td {
	vertical-align: top;
}

/* Main containers */

#base-container {
	min-width: 666px;
	padding: 20px;
}

#main-container {
    overflow: hidden;
	margin: 0 auto;
	max-width: 800px;
	background-color: black;
    border-radius: var(--layout-border-radius);
	border: 2px solid var(--layout-border-color);
	box-shadow: 0 0 20px var(--layout-glow-color);
}

#section-1 {
    background: url("/static/patterns/binding_dark.png") repeat;
	background-color: black;
	color: white;
}

#section-2 {
    background: url("/static/patterns/diamond_upholstery.png") repeat;
	background-color: white;
}

#section-3 {
    background: url("/static/patterns/noisy.png") repeat;
	background-color: white;
}

/* Logo */

#logo-container {
	height: 100%;
	padding: 5px;
	padding-bottom: 0px;
}

#logo {
	border-radius: var(--layout-border-radius);
    background-image: url("/static/images/rpgsite-logo.png"), url("/static/images/logo-texture.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center center, center center;
    background-color: white;
	height: 200px;
	cursor: pointer;
	filter: brightness(100%);
    transition: filter 200ms linear;
}

#logo:hover {
    filter: brightness(130%);
    transition: filter 200ms linear;
}

#logo-link {
	display: block;
	width: 100%; height: 100%;
}

/* Navigation */

.navigation {
	display: flex;
	align-items: center;
	padding: 5px;
}

.navigation-wrapper {
	display: block;
	margin: 0 auto;
}

.navigation-item {
	float: left;
}

.navigation-item:not(:last-child) {
	margin-right: 10px;
}

.navigation-link {
    display: block;
}

.navigation-end {
	display: none;
	clear: both;
}

/* Navigation as text */

.navigation-link {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
}

.navigation-link:link, .navigation-link:visited {
	color: rgb(80, 160, 250);
    transition: color 200ms linear;
	text-decoration: none;
}

.navigation-link:hover, .navigation-link:active {
    color: yellow;
    transition: color 200ms linear;
	text-decoration: none;
}

/* Navigation as images */
/*
.navigation-image-container {
    position: relative;
    width: 100%; height: 100%;
}

.navigation-image-default { z-index: 1; }
.navigation-image-hover { z-index: 2; opacity: 0; }

.navigation-image {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
}
*/

/* User info */

#user-info {
    display: flex;
    align-items: center;
	padding: 10px;
	height: 100px;
	border-top: 1px solid var(--layout-border-color);
	
	background-color: rgba(250, 200, 100, 0.2);
}

#user-info-1 {
	overflow: hidden;
	width: 80px; height: 80px;
	border: 2px solid black;
}

#user-info-1:hover {
    border-color: red;
}

#user-info-avatar-image {
	width: 100%; height: 100%;
}

#user-info-2 {
    height: 100%;
    margin-left: 10px;
    padding: 10px;
}

#user-info-name {
	color: blue;
	font-weight: bold;
}

#user-info-name-admin, #user-info-name-admin:visited {
	color: red;
	font-weight: bold;
}

#user-info-name-admin:hover, #user-info-name-admin:active {
	text-decoration: underline;
}

#user-login, #user-logout {
    padding: 5px 20px;
}

/* Content container */

#content {
	border-top: 1px solid var(--layout-border-color);
    border-bottom: 1px solid var(--layout-border-color);
	min-height: 200px;
	padding: 20px;
	
	background-color: rgba(255, 255, 255, 0.2);
}

/* Content title */

#content-title-container {
    text-align: center;
    margin-bottom: 30px;
}

#content-title {
	cursor: default;
	user-select: none;
	
	display: inline-block;
	padding: 5px 30px;

	font-family: Comic Sans MS;
	font-weight: bold;
	font-size: 20px;

	letter-spacing: 2px;
	text-shadow: 1px 1px 5px black;

	border-radius: 25px;
}

#content-title {
	color: orange;

    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );

	box-shadow: 0 0 8px #6d0019;
}

/* Final content */

#content-final {
    text-align: center;
}

.form-error-list li, .field-error-list li {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

/* Footer */

#footer {
    color: #c0c0c0;
    min-height: 10px;
    text-align: center;
    background: url("/static/patterns/simple_dashed.png") repeat;
}

#footer-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 0; padding: 5px;
	font-size: 12px;
}

#footer span {
    margin-left: 10px;
}

#footer .glyphicon {
	font-size: 16px;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color: green;
}

#footer a:hover, #footer a:active {
	text-decoration: none;
	color: red;
}

/* Emoji */

.emoji { height: 1.5em; }

/* Bootstrap */

.form-control:focus {
    border-color: rgb(255, 50, 50);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(255, 50, 50, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(255, 50, 50, .6);
}
